/* ~/CSS/YUIReset.css */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

/*
     FILE ARCHIVED ON 20:44:56 Sep 22, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:45:41 Jun 15, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 529.659
  exclusion.robots: 0.276
  exclusion.robots.policy: 0.265
  cdx.remote: 0.093
  esindex: 0.014
  LoadShardBlock: 70.993 (3)
  PetaboxLoader3.datanode: 164.908 (5)
  CDXLines.iter: 38.052 (3)
  load_resource: 194.674 (2)
  PetaboxLoader3.resolve: 63.377 (2)
*/